.sparkleTitle {
    text-align: center;
    color: #AC2D2E;
    font-family: cursive;
}

.sparkleNavbar {
    color: #AC2D2E;
    font-weight: bold;
    font-size: 25px;
    font-family: Times New Roman;
}

.centered {
    text-align: center;
}

.hyperlink {
    color: #AC2D2E;
    font-size: 15px;
}

.section {
    color: #AC2D2E;
    font-size: 30px;
    font-family: Times New Roman;
}